<launch>
    <arg name="monitor" default="true"/>

    <include file="$(find anydrive_ethercat_ros)/launch/anydrive_ethercat_ros.launch">
        <arg name="setup_file" value="$(find anydrive_typing_aid)/config/setup.yaml"/>
    </include>

    <include if="$(arg monitor)" file="$(find rqt_anydrive_monitor)/launch/rqt_anydrive_monitor.launch">
        <arg name="setup_file" value="$(find anydrive_typing_aid)/config/setup.yaml"/>
    </include>

   <node type="main.py" pkg="anydrive_typing_aid" name="typing_controller" required="true" output="screen"/>
</launch>
